{% extends 'admin/admin.html.twig' %}


{% block title "Recette : " ~ recipe.slug %}


{% block body %}
	<h2>{{ recipe.id }}
		-
		{{ recipe.title }}</h2>
	<p>
		<img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="">
	</p>
	{{ form(form) }}{% endblock %}
