{% extends 'base.html.twig' %}


{% block title "Recette : " ~ slug %}


{% block body %}
    <h2>{{ recipe.id }} - {{ recipe.title }}</h2>
    <p>{{ recipe.content | nl2br }}</p>
    <p></p>
    
{% endblock %}